.select {
  background-color: #9aa4de;
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin: 3px;
  width: 400px;
  height: 40px;
  border-radius: none;
  border: none;
  text-align: center;
}